body {
    background-image: url("https://i.ytimg.com/vi/D3fKX9qQAOA/maxresdefault.jpg");
}     

h1 {
    color: rgb(63, 6, 63);
    text-decoration: underline;
    line-height: 15px;
} 

p {
    font-size: 20px;
    color: black;
}  

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }